/* author: Vitezslav Cupl (xcuplv00) */

.searchInputs {
  width: 100%;
  margin: 1px;
  display: flex;
}

input {
    position: relative;
    font-size: 2rem;
    padding: 8px 20px;
    background-color: #14181C;
    border: 0 solid black;
    border-radius: 2px;
    color: white;
    z-index: 1000;
}


.dataResult {
    margin-left: 2px;
    width: 220px;
    height: 200px;
    background-color: #14181c;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult .gamesItem {
    margin-top: 5px;
    padding-left: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    z-index: 1001
}

.dataResult::-webkit-scrollbar {
    display: none;
  }

.dataResult a {
    text-decoration: none;
}
  
.dataResult a:hover {
    background-color: #445566;
}
