/* author: Vitezslav Cupl (xcuplv00) */

.searchbar {
    position: fixed;
    right: 0px;
    width: 25%;
    height: 100vh;

    display: flex;
    justify-content: right;
    align-items: top;
}

.searchbar-inner {
    position: relative;
    padding: 5px;
    width: 100%;
    max-width: 640px;
}

.searchbar-inner .close-btn {
    position: absolute;
    top: 12px;
    right: 115px;
    background-color: transparent;
    color: black;
    z-index: 500;
    border: 0px;
}

.searchbutton {
    background-color: rgb(20, 24, 28);
    border: 0px
}